.title-text {
    margin-top: 56px;
}

.main-section {
    margin-top: 56px;
    margin-bottom: 56px;
}

.main-section .component {
    margin-bottom: 20px;
}
.logo-home-banner {
  margin-bottom: 3%;
}

/* Mega Menu - Shopping ----------------------- */
.navbar-megamenu {
  margin-top: 116px;
}
.megamenu {
  position: static !important;
}

.megamenu .dropdown-menu {
  background: none !important;
  border: none !important;
  width: 100% !important;
}
/* .megamenu:hover>.dropdown-menu {
  display: block !important;
} */

.dropdown>.dropdown-menu {
    top: 200% !important;
    transition: 0.3s all ease-in-out !important;
  }
  .dropdown:hover>.dropdown-menu {
    display: block !important;
    top: 80% !important;
  }

  /* Shopping */
  .container-shopping {
      margin-bottom: 10%;
  }
  .vertical-filters-header {
      font-weight: bold;
      margin-left: -20px;
  }
  .categories-list {
      margin-top: 10px;
  }

  /*Flight Booking */
  input[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  95% 50% no-repeat ;
    height: 36px;
    border: 1px solid #dcdcdc;
    outline: none;
  }
  input[type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  .childAgeGroup {
    display: none;
  }
  .more-option {
    margin-bottom: 5%;
  }
  .full-picture-booking {
    min-height:100vh;margin-right:-15px;overflow:hidden;background-image:url("../img/airplane.png");background-position:center center;background-size:cover;position:relative;width:100%;z-index:1;
  }

    /* Automation Form */
    .button {
      margin-bottom: 2%;
    }
  .alert-content {
    margin-bottom: 5%;
  }

  /*Calendar*/
  .calendar-container {
    margin-top: 5%;
  }
  